// [colors]
$background: rgba(31, 34, 40, 0.8);
$background-alt: rgba(46, 52, 64, 0.8);
$foreground: #d8dee9;
$black: #12101d;
$red: #e06c75;
$green: #98c379;
$yellow: #d19a66;
$blue: #61afef;
$magenta: #c678dd;
$cyan: #56b6c2;
$white: #eceff4;

body {
    margin: 0;
    // padding: 3rem 1rem;
    line-height: 1.2;
    min-height: 100vh;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Anonymous Pro", monospace;
    background-size: cover !important;
    background-attachment: fixed;
    background-color: $black;
    color: $foreground;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    background-color: $background;
    p,
    form {
        padding-left: 1rem;
    }
}

.bookmarks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .category {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 10rem;
        padding: 1rem 0;

        .title {
            font-size: 1.5rem;
            text-decoration: underline;
        }
    }
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .category {
        display: flex;
        flex-direction: column;
        width: 8rem;
        align-items: center;
    }
}

form {
    display: flex;
    margin: 1rem 0;

    input {
        all: unset;
        margin-left: 1rem;
        width: 50%;
    }
}

li {
    list-style-type: none;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: $foreground;
    padding: 0.5rem;
    border-radius: 10%;
}

a:hover {
    background-color: $background-alt;
}

.blinking {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
